
			/* Reset CSS */
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, font, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td {
				margin: 0;
				padding: 0;
				border: 0;
				outline: 0;
				font-size: 100%;
				vertical-align: baseline;
				background: transparent;
			}

			body{
				background: #FAFAFA;
			}

			#content{
				background: white;
				border: thin solid #F5F5F5;
				margin: 0 auto;
				padding: 10px 0px 25px;
				position: relative;
				text-align: center;
				width: 348px;
				top: 30%;
			}

			#no_account{
				background: white;
				border: thin solid #F5F5F5;
				margin: 0 auto;
				padding: 25px 50px 25px 50px;
				position: relative;
				text-align: center;
				width: 248px;
				bottom: 0%;
				top: 31%;
			}

			#no_account a{
				color: #62B1F6;
				position: relative;
				letter-spacing: -.5px;
			}

			#get_app{
				position: relative;
				margin: 0 auto;
				text-align: center;
				width: 100px;
				top: 34%;
				padding
			}

			#photos{
				position: relative;
				margin: 0 auto;
				text-align: center;
				width: 33%;
				bottom: 0%;
				top: 35%;
				left: 33%;
				float: left;
				display: inline-block;
			}

			h2{
				color: black;
				font-size:  70px;
				letter-spacing: -.02em;
				line-height: 20px;
				margin: 20px 10px 32px;
				font-family: "Tangerine";
			}

			h3, h4{
				font-size: 15px;
				font-weight: lighter;
			}

			a{
				text-decoration: none;
			}
			#password_username{
				width: 100%;
			}
			#content form input[type="password"]{
				width: 85%;
				left: 2px;
				outline-width: .05px;
				outline-color: #d3d3d3;

			}
			#content form input[type="text"]{
				width: 85%;
				outline-color: #d3d3d3;
				outline-width: .05px;

			}

			#content form input[type="text"],
			#content form input[type="password"],
			#content form input[type="submit"]{
				border-radius: 3px;
				border: thin solid #d3d3d3;
				font-weight: lighter;
				margin: 0px 0 7px 5px;
				padding: 10px 5px 5px 5px;
				font-size: 13px;
				position: relative;
			}

			#lnkforget{
				position: relative;
				/*left: 261px;
				bottom: 75px;
								width: 5%;
*/
				color: #3B3B3B;
				font-size: 14px;
				left: 115px;
				bottom: 30px;
				width: 5%;
			}

			#content form input[type="submit"]{
				background: #5CACEE;
				color: white;
				font-size: 15px;
				border: none;
				text-align: center;
				position: relative;
				width: 85%;
				font-weight: normal;
				padding: 6px;
			}
/* BEGINNING OF JQUERY/JS CSS*/
#error1, #error2{
	color: red;
	font-size: 15px;
	position: relative;
	width: 85%;
	padding: 15px 20px 30px 15px;
	text-align: center;
	left: 3%;
}